
li { margin: 0; list-style: none; }

#app {
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
}

#sections {
  position: fixed; left: 0; right: 0; top: 0;
  height: 2em; background-color: white;
  border-bottom: 1px solid #efefef;
}
#sections a, #sections span { padding: 0 0.5em; }

#PageList {
  position: fixed; left: 0.5em; top: 5em; bottom: 0;
  overflow: scroll; font-size: 0.8em;
  width: 16em;
}

#editor {
  position: fixed; left: 16em; right: 12em; top: 2em; bottom: 0;
  background-color: white;
}

#editor .header { position: absolute; left: 0; right: 0; top: 0; height: 4em; }
#editor .header .title { font-size: 2em; }
#editor .controls {
  position: absolute; left: 0; right: 0; bottom: 0; height: 3em; }

#editor .area {
  background-color: #efefef;
  position: absolute;
  left: 0; top: 5em; right: 0; bottom: 4em;
  font-size: 100%;
  border: 0;
}
#editor textarea { width: 100%; height: 100%; }

#images {
  position: fixed; right: 0; top: 2em; bottom: 0;
  width: 12em;
}
