
#app {
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  background-color: #efefef;
}

#sections {
  position: fixed; left: 0; right: 0; top: 0;
  height: 2em; background-color: white;
}

#pages {
  position: fixed; left: 0; top: 2em; bottom: 0;
  width: 16em; background-color: gray;
}

#editor {
  position: fixed; left: 16em; right: 12em; top: 2em; bottom: 0;
  background-color: #CCFFFF;
}

#images {
  position: fixed; right: 0; top: 2em; bottom: 0;
  width: 12em; background-color: gray;
}
