article h4 {
}


hr {
    padding: 0;
    margin: 1em 0;
    border: none;
    border-top: medium double #904830;
    color: #904830;
    text-align: center;
    width: 100%;
}

.image-helper-position-ancho {
  float: none;
  width: 100%; clear: both;
}
