html {
  color: #000000;
  background: #ffffff;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}



#center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}
#playground {
  position: relative;
  width: 1000px;
  height: 640px;
  margin-left: -490px;
  margin-top: -320px;
}
ul {
  float: left;
  width: 150px;
  margin-top: 30px;
}
ul li { display: block; }
img {
  float: left;
}
#sections li a {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#sections li a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
