<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ricardogomez.com</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/skeleton.css">
  <link rel="stylesheet" href="/app.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="seven columns">
        <h5>ricardogomez.com</h5>
        <div class="navigation">
          <a href="/editar" class="">Editar</a>
          <a href="/ver" class="">Ver</a>
          <a href="/publicar" class="">Publicar</a>
        </div>
        {{{ body }}}
        <div id="load"></div>
      </div>
    </div>
  </div>
  <script src="/jquery.min.js"></script>
  <script src="/app.js"></script>
</body>
</html>
