<h1>Editar</h1>

<p>
  Hola papá, tu copia de la web en este ordenador está en:
  <code>{{path}}</code>
</p>
<p>
  Hay unas
  <strong><a href="/instrucciones">instrucciones de uso</a></strong>
  por si no recuerdas cómo se hacía algo.
</p>
<a href="/editor" class="button">Abrir editor</a>
<a href="/carpeta" class="button">Abrir carpeta</a>
<a href="/recrear" class="button">Aplicar cambios</a>
