<h1>Instrucciones de uso</h1>

<h4>Markdown</h4>
<p>Puedes utilizar lo que ya conoces:
  <li>Almohadillas para los títulos (# grande, ## mediano, ### pequeño)</li>
  <li>*cursivas* y **negritas**</li>
  <li> * * * líneas divisorias</li>
</p>

<h4>Imágenes</h4>

<h4>Libros</h4>
<p>Para añadir un libro (p.ej: bruno):
  <li>Crea el fihcero "bruno.md" dentro de "publicar/paginas/mislibros/alfaguara"</li>
  <li>Añade una imágene reducida de la portada dentro de
    "publicar/imagenes/mislibros/alfaguara". El título de la imágene puede ser
    cualquire (por ejemplo: 'bruno-portada-peq.jpg'). La altura máxima de esa
    imágen reducida debe ser 170 píxels (con cualquier ancho).</li>
  <li>Añade a "publicar/paginas/mislibros/alfaguara.md" la siguiente línea:
  </li>
</p>

<h4>Fragmentos</h4>
<p>
  Puedes <strong>dividir la página en trozos</strong> con el
  comando <code>!! incluye</code>. Lo que haremos será incluir un fragmento
  dentro de otra página.<br>
  Por ejemplo, para añadir a conferencias el fragmento
  "publicar/paginas/conferencias/2012.md",
  dentro de conferencias.md tienes que escribir la siguiente línea:<br>

  <code>!! incluye conferencias/2012.md</code>
  (no olvides poner la la extensión del fichero, en este caso .md)<br>
  <strong>Importante:</strong> si modificas un fragmento no se actualizará
  la página automáticamente. Tendrás que "Aplicar cambios" en
  <a href="/editar">la página de edición</a>.
</p>

<h4>Imágen de portada</h4>
<p>
  Para <strong>cambiar la imágen de la portada:</strong>
  <li>Crea una imágen de menos de 800x650px en formato jpg
    (lo ideal es que uses la función 'Exportar para web...' de photoshop)
  </li>
  <li>Copia la imágen a <code>'publicar/imagenes/inicio'</code></li>
</p>
