<h1>Instrucciones de uso</h1>

<p>
  Puedes <strong>dividir la página en trozos</strong> con el
  comando <code>!! incluye</code>. Lo que haremos será incluir un fragmento
  dentro de otra página.<br>
  Por ejemplo, para añadir a conferencias el fragmento
  "publicar/paginas/conferencias/2012.md",
  dentro de conferencias.md tienes que escribir la siguiente línea:<br>

  <code>!! incluye conferencias/2012.md</code>
  (no olvides poner la la extensión del fichero, en este caso .md)<br>
  <strong>Importante:</strong> si modificas un fragmento no se actualizará
  la página automáticamente. Tendrás que "Aplicar cambios" en
  <a href="/editar">la página de edición</a>.
</p>

<p>
  Para <strong>cambiar la imágen de la portada:</strong>
  <li>Crea una imágen de menos de 800x650px en formato jpg
    (lo ideal es que uses la función 'Exportar para web...' de photoshop)
  </li>
  <li>Copia la imágen a <code>'publicar/imagenes/inicio'</code></li>
</p>
