<h1>Instrucciones de uso</h1>

<p>
  Para <strong>cambiar la im치gen de la portada:</strong>
  <li>Crea una im치gen de menos de 800x650px en formato jpg
    (lo ideal es que uses la funci칩n 'Exportar para web...' de photoshop)
  </li>
  <li>Copia la im치gen a <code>'publicar/imagenes/inicio'</code><li>
</p>
