<h1>Publicar</h1>
<p>
  Has modificado:
  {{#each modified}}
    <li>{{.}}</li>
  {{/each}}
</p>

<p>
  Has añadido:
  {{#each not_added}}
    <li>{{.}}</li>
  {{/each}}
</p>

<p>Si publicas los cambios de tu ordenador se esparcirán por todo internet.</p>
<p>
  ¿Estás seguro?<br>
  <a href="#" class="button button-primary">Si, Publicar</a>
</p>
