<h1>Publicar</h1>
<p>
  Has modificado:
  {{#each modified}}
    <li>{{.}}</li>
  {{/each}}
</p>

<p>
  Has añadido:
  {{#each not_added}}
    <li>{{.}}</li>
  {{/each}}
</p>

<p>Si <b>publicas los cambios</b> de tu ordenador se esparcirán por todo internet.
Si lo deseas, puedes <b>guardar cambios</b> en el servidor. Eso guarda los cambios
que has hecho, pero no los publicas. Puedes utilizar otro ordenador para editar</p>
</p>
<p>
  ¿Quieres publicar los cambios?<br>
  <a href="/deploy" class="button button-primary">Si, Publicar</a>
  <a href="/save" class="button">Solo guardar cambios en el servidor</a>
</p>
