
<h1>Publicar</h1>

<div id="publish-result">
  <p>¿Estás seguro de que quieres publicar los cambios?</p>
  <button id="btn-publish" class="button-warning button-xlarge pure-button">Si, publicar los cambios</button>
</div>
