<h1>Hola</h1>
<p>Esta es la versión local de tu página web</p>


<h2>Páginas modificadas:</h2>
<ul class="git-modified">
  {{#each modified}}
    <li>{{.}}</li>
  {{/each}}
</ul>

<h2>Páginas añadidas:</h2>
<ul class="git-not-added">
  {{#each not_added}}
    <li>{{.}}</li>
  {{/each}}
</ul>
